/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END reset */

body {
    margin: 0;
    padding: 20px;
    font-family: 'helvetica-neue', helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: #333;
    background: rgb(204, 200, 191);
    text-align: center;
}

p {
    margin-bottom: 15px;
}

h2 {
    color: #fff;
    font-style: normal;
    margin-bottom: 25px;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: solid 1px #fff;
}

a {
    color: #333;
    text-decoration: snow;
}

code {
    background: #fff none repeat scroll 0 0;
    border: 1px dashed black;
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1.5;
    padding: 6px;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: outside none none;
    text-indent: 0;
}

ul ul {
    background: rgb(223, 220, 212);
}

.example {
    margin-top: 20px;
    overflow: hidden;
    padding: 10px;
}

.col-block {
    display: block;
    overflow: hidden;
}

/* .clearfix from TWBS */

.col-block::before, .col-block::after {
    content: "";
    display: table;
    line-height: 0;
}

.col-block::after {
    clear: both;
}

.col {
    background: rgb(159, 221, 237) none repeat scroll 0 0;
    float: left;
    margin-left: 10px;
    padding: 10px;
}

.col:first-child {
    margin-left: 0;
}

.swatch {
    height: 20px;
    padding: 3px;
    text-align: center;
    width: 29px;
}

.swatch.swatch-ul {
    background: rgb(223, 220, 212);
}

.swatch.swatch-li {
    background: rgb(159, 221, 237);
}

/* Pantone */

#pantone a {
    display: block;
    height: 60px;
    padding: 2px;
    width: 50px;

}

#pantone ul {
    padding: 0;
    background: inherit;
}

#pantone .col {
    padding: 5px;
}

#pantone .col .col {
    padding: 0;
}

/* Periodic table */
ul#periodic {
    background: transparent;
    margin: 0 auto;
    padding: 10px;
}

#periodic ul, #periodic .col, #periodic li, #periodic p {
    background: transparent;
    padding: 0;
    margin: 0;
}

#periodic .col {
    overflow: visible;
    margin-left: 10px;
}

#periodic .showhide {
    display: none !important;
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 5px;
    border: 1px dotted #111;
    text-align: center;
    background: rgb(175, 234, 220);
    z-index: 100;
    line-height: 1;
}

#periodic li:not(.col) {
    position: relative;
    background: rgb(158, 151, 142);
    border: 1px solid #333;
    padding: 5px;
    margin: 0 0 5px 0;
    line-height: 2;
    cursor: help;
}

#periodic li:not(.col):hover .showhide {
    cursor: help;
    display: block !important;
}

#periodic .num {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-family: Georgia, serif;
}

#periodic .abr {
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
    color: rgb(242, 240, 161);
}